/* import google fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Agency FB";
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/static/images/desktop_backgroud.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    display: flex;
    justify-content: space-between;
}

.pic {
    width: 80%;
    max-width: 768px;
    margin-left: 10%;
    padding-top: 10%;
}

.img1 {
    margin-top: 10%;
    margin-left: 25%;
    display: block;
    max-width: 30%;
    height: auto;
}

.img2 {
    margin-top: 5%;
    display: block;
    max-width: 70%;
    height: auto;
}

.check-symbol {
    margin-top: 15%;
    margin-left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    height: 30%;
    width: 30%;

}


.box-text {
    position: absolute;
    left: 50%;
    top: 50%; /* Adjust the top position to place it below the check symbol */ /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #4BED13; /* Same color as the check symbol */
    font-size: 3rem;/* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
}

.box-text2 {
    position: absolute;
    left: 50%;
    top: 65%; /* Adjust the top position to place it below the check symbol */ /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #df9a0e; /* Same color as the check symbol */
    font-size: 1.8rem;/* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
}
/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 80px;
    transition: all 0.3s ease;

}

.navbar.sticky {
    padding: 15px 0;
    background: #dfdc13;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;

}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 200%;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #dfdc13;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* transparent box styling */
.transparent-box {
    position: fixed;
    top: 20%;
    right: 15%;
    width: 30%; /* Adjust the width as needed */
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9); /* Background with 90% transparency */
    z-index: 998; /* Ensure it's behind the content */
    border-radius: 20px;
    border: 2px solid #4BED13;
}

.content{
    /* right: 30%; */
    width: 60%; /* Adjust the width as needed */
    height: 40%;
}

/* responsive media query start */
@media (max-width: 991px) {
    body{
        background-image: url("/static/images/desktop_backgroud.jpg");
    }
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 945px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .pic {
        display: none;
        width: 80%;
        margin: 0 40%;
    }

    .img1 {
        display: block;
        max-width: 50%;
        height: auto;
    }

    .img2 {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /* transparent box styling */
.transparent-box {
    position: absolute;
    top:25%;
    width: 70%; /* Adjust the width as needed */
    height: 60%;
    background-color: rgba(0, 0, 0, 0.9); /* Background with 90% transparency */
    z-index: 998; /* Ensure it's behind the content */
    border-radius: 20px;
    border: 2px solid #4BED13;
}

.content{
    /* right: 30%; */
    width: 60%; /* Adjust the width as needed */
    height: 40%;
}

.box-text {
    position: absolute;
    left: 50%;
    top: 40%; /* Adjust the top position to place it below the check symbol */ /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #4BED13; /* Same color as the check symbol */
    font-size: 3rem;/* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
}

.box-text2 {
    position: absolute;
    left: 50%;
    top: 65%; /* Adjust the top position to place it below the check symbol */ /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #df9a0e; /* Same color as the check symbol */
    font-size: 1rem;/* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
}

.check-symbol {
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    height: 30%;
    width: 30%;

}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

}
