{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/AdminLogin.css'%}">
    <title>Document</title>
</head>
<body>
<div class="mainframe">
  <div class="frame1">
    <div class="images">
      <img class="img1" src="{% static 'images/logo.png' %}" />
      <img class="img2" src="{% static 'images/BookingCar.png' %}" />
    </div>
  </div>
  <div class="fcontain">
    <form class="formclass" method="post" action="login">
        {% csrf_token %}
        <label for="name">Username: </label>
        <input type="text" id="name" name="username"><br><br>

        <label for="phone">Password: </label>
        <input type="text" id="phone" name="password"><br><br>
        {% for message in messages %}
            <label> {{ message }}</label>
        {% endfor %}
        <input type="submit" value="LOGIN">
    </form>
    </div>
</div>
</body>
</html>