{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/AdminLogin.css'%}">
    <title>Document</title>
</head>
<body background="{% static 'images/desktop_backgroud.jpg' %}">
<div class="mainframe">
  <div class="frame1">
    <div class="images">
      <img class="img1" src="{% static 'images/logo.png' %}" />
      <img class="img2" src="{% static 'images/BookingCar.png' %}" />
    </div>
  </div>
  <div class="fcontain">
    <form class="formclass">
        <label for="name">Username: </label>
        <input type="text" id="name" name="name"><br><br>

        <label for="phone">Password: </label>
        <input type="text" id="phone" name="phone"><br><br>
        <a href="admin_home.html"><input type="submit" value="LOGIN" ></a>
    </form>
    </div>
</div>
</body>
</html>