<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/booked.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="max-width">
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#booking" class="menu-btn">Booking</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
                <li><a href="#join Us" class="menu-btn">Join Us</a></li>
            </ul>

            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>

            <div class="icon"><img src="images/Vector.png" class="icimg"></div>
        </div>
    </nav>

    <div class="container">
        <div class="content">
            <div class="pic">
                <div><img src="images/logo.png" class="img1"></div>
                <div><img src="images/car.png" class="img2"></div>
            </div>
        </div>
        <div class="transparent-box">
            <img src="images/check.svg" class="check-symbol">
            <div>
                <p class="box-text">BOOKED</p>
                <p class="box-text2">YOUR BOOKING DETAILS ARE<br>SENT TO YOU ON MAIL &amp;<br>PHONE NUMBER</p>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
