{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/template.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css'%}">
    <title>Leo Taxi</title>
</head>
<body>
    <div class="main">
    <div>
        <div class="admin-navbar">
            <div class="text-wrapper-nav">Home</div>
              <div > <a class="text-wrapper-nav" href="book">Booking</a></div>
              <div><a class="text-wrapper-nav" href="about">About</a></div>
              <div><a class="div" href="/templates/contact.html">Contact</a></div>
              <div><a class="text-wrapper-nav" href="/templates/joinus.html">Join Us</a></div>

          </div>
    <div class = "contact-logo-container">
      <div class = "contact-container">
        <div class = "contact-links">
            <div class="link-icons-row">
            <div class="icons"><img src="{% static 'images/gmail.svg' %}"></div>
            <div class="icons"><img src="{% static 'images/_Instagram.svg' %}"></div>
            </div>
        </div>
        <div class = "contact-links">
            <div class="link-icons-row">
            <div class="icons"><img src="{% static 'images/twitter.svg' %}"></div>
            <div class="icons"><img src="{% static 'images/_Facebook.svg'%}"></div>
            </div>
        </div>
        <div class = "contact-links">
            <div class="link-icons-row">
            <div class="icons"><img src="{% static 'images/iOS 15.png'%}"></div>
            <div class="icons"><img src="{% static 'images/phone.png'%}"></div>
            </div>
        </div>
      </div>
      <div class="about-logo-container">
        <img src="{% static 'images/logo.png' %}" class="about-logo">
      </div>
    </div>
    </div>
    </div>
</body>
</html>