<!DOCTYPE html>
<html>
  <head></head>
  <styles>
      <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="macbook-pro">
      <div class="overlap">
        <img class="vector" src="img/vector.svg" />
        <img class="ios" src="img/ios-15.png" />
        <img class="pngwing" src="img/pngwing-5.png" />
        <img class="gmail" src="img/gmail.png" />
        <img class="facebook" src="img/facebook.svg" />
        <img class="instagram" src="img/instagram.svg" />
      </div>
      <img class="img" src="img/6517a3620f7526000dd97690-3.png" />
      <div class="overlap-group">
        <div class="text-wrapper">Home</div>
        <div class="text-wrapper">Home</div>
      </div>
      <div class="div">
        <div class="text-wrapper">About</div>
        <div class="text-wrapper">About</div>
      </div>
      <div class="overlap-2">
        <div class="text-wrapper">Booking</div>
        <div class="text-wrapper">Booking</div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-2">Contact</div>
        <div class="text-wrapper-2">Contact</div>
      </div>
      <img class="vector-2" src="img/image.svg" />
      <div class="text-wrapper-3">Join Us</div>
    </div>
  </body>
</html>

  </styles>
  <body>
    <div class="macbook-pro">
      <div class="overlap">
        <img class="vector" src="img/vector.svg" />
        <img class="ios" src="img/ios-15.png" />
        <img class="pngwing" src="img/pngwing-5.png" />
        <img class="gmail" src="img/gmail.png" />
        <img class="facebook" src="img/facebook.svg" />
        <img class="instagram" src="img/instagram.svg" />
      </div>
      <img class="img" src="img/6517a3620f7526000dd97690-3.png" />
      <div class="overlap-group">
        <div class="text-wrapper">Home</div>
        <div class="text-wrapper">Home</div>
      </div>
      <div class="div">
        <div class="text-wrapper">About</div>
        <div class="text-wrapper">About</div>
      </div>
      <div class="overlap-2">
        <div class="text-wrapper">Booking</div>
        <div class="text-wrapper">Booking</div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-2">Contact</div>
        <div class="text-wrapper-2">Contact</div>
      </div>
      <img class="vector-2" src="img/image.svg" />
      <div class="text-wrapper-3">Join Us</div>
    </div>
  </body>
</html>
