{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body background = "{% static 'images/desktop_backgroud.jpg' %}">
    <nav class="navbar">
        <div class="max-width">
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#booking" class="menu-btn">Booking</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
                <li><a href="" class="menu-btn">Join Us</a></li>
            </ul>

            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="content">
            <div class="pic">
                <div><img src="{% static 'images/logo.png' %}" class="img1" alt="Logo"></div>
                <div><img src="{% static 'images/car.png' %}" class="img2" alt="Car"></div>
            </div>
        </div>
        <div class="fcontain">
            <form method="post" class="formclass" action="home">
                {% csrf_token %}
                <label for="name">NAME: </label>
                <input type="text" id="name" name="name"><br><br>

                <label for="phone">PHONE NO: </label>
                <input type="text" id="phone" name="phone"><br><br>

                <label for="state">STATE: </label>
                <input type="text" id="state" name="state"><br><br>

                <label for="email">EMAIL: </label>
                <input type="text" id="email" name="email"><br><br>

                <center><input type="submit" value="JOIN NOW"></center>
            </form>
            </div>
    </div>

    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
