.main{
    display : flex;
    flex-direction: row;
    position: relative;
    height:auto;
    width:auto;
}
.contact-logo-container{
    display: flex;
    flex-direction: row;
}
.contact-container{
    margin-top: 2.8rem;
    margin-left: 10rem;
    position: relative;
    width: 29rem;
    height: 37rem;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 25px;
    stroke-width: 1.5px;
    stroke: #F7FC13;
}
.about-logo{
    position: relative;
    height: 85%;
    width: 85%;
    object-fit: scale-down;
}
.about-logo-container{
    margin-top: 9rem;
    margin-left: 20rem;
}
.contact-links{
    display: flex;
    flex-direction: column;
    padding: 3.6rem;
}
.icons{
    margin-right: 7rem;
}
.link-icons{
    width: 5.8125rem;
    height: 4.233rem;
    flex-shrink: 0;
}
.link-icons-row{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}