.inp-txt{
    text-align: center;
    border-radius: 25px;
    background: #A9A5A5;
    border: 1px solid #FDD406; ;
    width: 60%;
    height: 80%;
    padding: auto;
    margin: auto;
    align-self: flex-end;
}
.formtext{
color: #FFF;
font-family: Agency FB;
font-size: 100%;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: auto;
}
.inp-contain{
    margin: 1.5%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    height: 40%;
    width: 100%;
}